<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
    <title>iReport</title>
</head>
<body>
    <div class="header"><i class="fa fa-user"></i>iReport  |  All Users reports</div>
    <div class="links">
        <a href="../../index.html">Logout</a>
        <a href="../templates/contact.html">Feedback</a>
        <a href="../templates/admin_update.html">Update report</a>
        <a href="../templates/allreports.html">All reports</a>


    </div>
    <div class="container">
            <div class="reports-table">
                <table>
                    <tr>
                        <th>S/N</th>
                        <th>Username</th>
                        <th>Report-type</th>
                        <th>Title</th>
                        <th>Report Description</th>
                        <th>Geolocation</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Kiganda</td>
                        <td>red flag</td>
                        <td>Embezzled youth funds</td>
                        <td>Stolen youth money</td>
                        <td>Latitude: 0.33669119999999997 , Longitude: 32.6008832</td>
                        <td>12-May-2002</td>
                        <td>
                            under-investigation
                        </td>
                    </tr>
                    <tr>
                        
                        <td>2</td>
                        <td>Matthew</td>
                        <td>Intervention</td>
                        <td>Embezzle youth funds</td>
                        <td>The local council is required</td>
                        <td>Latitude: 0.33669119999999997 , Longitude: 32.6008832</td>
                        <td>12-May-2002</td>
                        <td>
                            resolved
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Henry</td>
                        <td>red flag</td>
                        <td>Security-office fraud</td>
                        <td>The security officers in fraud</td>
                        <td>Latitude: 0.33669119999999997 , Longitude: 32.6008832</td>
                        <td>12-May-2002</td>
                        <td>
                            under-investigation
                        </td>
                    </tr>
                    <tr>
                        
                        <td>4</td>
                        <td>Doreen</td>
                        <td>red flag</td>
                        <td>Road transport funds</td>
                        <td>Over 300 billion shillings lost</td>
                        <td>Latitude: 0.33669119999999997 ,  Longitude: 32.6008832</td>
                        <td>12-May-2002</td>
                        <td>
                            under-investigation
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Hellen</td>
                        <td>intervention</td>
                        <td>Local council embezzle youth funds</td>
                        <td>We need a new local council from the government</td>
                        <td>Latitude: 0.33669119999999997 ,  Longitude: 32.6008832</td>
                        <td>12-May-2002</td>
                        <td>
                            under-investigation
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Doreen</td>
                        <td>red flag</td>
                        <td>TASO aid for HIV victims embezzled</td>
                        <td>HIV aids victims in worse condition </td>
                        <td>Latitude: 0.33669119999999997 , Longitude: 32.6008832</td>
                        <td>12-May-2002</td>
                        <td>
                            rejected
                        </td>
                    </tr>
                </table>
        <div class="footer">@kigandaivan-iReport application version 1.0 &copy;copyright 2018</div>
    </div>
    <script src="../static/main.js"></script>
</body>
</html>