<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <title>Get Started | iReport</title>
</head>
<body>
    <div class="container">
        <header><h1>iReport</h1></header>
        <div class="getstarted">
            <div class="submit">
                <h1>Anti Corruption </h1>
                <a href="login.html"><button type="submit" id="submit">Get Started</button></a>
            </div>
        </div>
        <footer></footer>
    </div>
    
</body>
</html>