<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">

    <title>iReport</title>
</head>
<body> 
        <div class="header"><i class="fa fa-user"></i>iReport | Sign up</div>
    <div class="container">
        <div class="content">
            <form id="signup">
                <div class="logo"></div>
                <div class="input">
                    <div class="row">
                        <div class="col-25"><label for="fname">Firstname <span>required*</span></label></div>
                        <div class="col-75"><input type="text" required id="fname" onfocus="this.value=''" placeholder="please enter your first name"></div>
                    </div>
                    <div class="row">
                        <div class="col-25"><label for="lname">Lastname <span>required*</span></label></div>
                        <div class="col-75"><input type="text" required id="lname" onfocus="this.value=''" placeholder="please enter your last name"></div>
                    </div>
                    <div class="row">
                        <div class="col-25"><label for="username">Username <span>required*</span></label></div>
                        <div class="col-75"><input type="text" required id="username" onfocus="this.value=''" placeholder="please enter your username"></div>
                    </div>
                    <div class="row">
                        <div class="col-25"><label for="email">Email <span>required*</span></label></div>
                        <div class="col-75"><input type="email" required id="email" onfocus="this.value=''" placeholder="please enter your email"></div>
                    </div>
                    <div class="row">
                        <div class="col-25"><label for="date">Registered <span>required*</span></label></div>
                        <div class="col-75"><input type="date" required id="date" onfocus="this.value=''" placeholder="please enter your date"></div>
                    </div>
                    <div class="row">
                        <div class="col-25"><label for="phone">Phone Number <span>required*</span></label></div>
                        <div class="col-75"><input type="text" required id="phone" onfocus="this.value=''" placeholder="please enter your phone number"></div>
                    </div>
                    <div class="row">
                        <div class="col-25"><label for="password">Password <span>required*</span></label></div>
                        <div class="col-75"><input type="password" required id="password" onfocus="this.value=''" placeholder="please enter password"></div>
                    </div>
                    <div class="row">
                        <div class="col-25"><label for="confirm">Confirm Password</label></div>
                            <div class="col-75"><input type="password" required id="confirm" onfocus="this.value=''" placeholder="please confirm password"></div>
                    </div>
                    
                   <a href="/index.html"><input type="submit" value="Submit"></a>
                </div>
            </form>
        </div>
        <div class="footer"><i class=""></i>@kigandaivan-iReport application version 1.0 &copy;copyright 2018</div>
    </div>
    <script src="/UI/static/signup.js"></script>
</body>
</html>