<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
    <title>iReport</title>
</head>
<body>
    <div class="header"><i class="fa fa-user"></i>iReport  | Users reports</div>
    <div class="links">
        <a href="../../index.html">Logout</a>
        <a href="../templates/contact.html">Feedback</a>
        <a href="../templates/admin_update.html">Update report</a>
        <a href="../templates/allreports.html">All reports</a>
    </div>
    <div class="container">
        <table>
            <tr>
                <th>S/N</th>
                <th>Username</th>
                <th>Report-type</th>
                <th>Title</th>
                <th>Report Description</th>
                <th>Geolocation </th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Kiganda</td>
                <td>red flag</td>
                <td>Local council embezzle youth funds</td>
                <td>The local council chairman 1 of Kikoni stole 3 million shillings of youth funds</td>
                <td onclick="Location()"><input type="text" value="Latitude: 0.33669119999999997 , Longitude: 32.6008832" id="locate"></td>
                <td>13-Dec-2018</td>
                <td>under-investigation</td>
                <td><button>Submit</button> <button onclick="Remove()">Delete</button></td>
            </tr>
            <tr> 
                <td>1</td>
                <td>Kiganda</td>
                <td>red flag</td>
                <td>Local council embezzle youth funds</td>
                <td>The local council chairman 1 of Kikoni stole 3 million shillings of youth funds</td>
                <td onclick="Location()"><input type="text" value="Latitude: 0.33669119999999997
                            Longitude: 32.6008832" id="locate"></td>
                <td>12-May-2002</td>
                <td>under-investigation</td>
                <td><button>Submit</button> <button onclick="Remove()">Delete</button></td>
            </tr>
            <tr> 
                <td>1</td>
                <td>Kiganda</td>
                <td>red flag</td>
                <td>Local council embezzle youth funds</td>
                <td>The local council chairman 1 of Kikoni stole 3 million shillings of youth funds</td>
                <td onclick="Location()"><input type="text" value="Latitude: 0.33669119999999997
                            Longitude: 32.6008832" id="locate"></td>
                <td>12-May-2002</td>
                <td>under-investigation</td>
                <td><button>Submit</button> <button onclick="Remove()">Delete</button></td>
            </tr>
            <tr> 
                <td>1</td>
                <td>Kiganda</td>
                <td>red flag</td>
                <td>Local council embezzle youth funds</td>
                <td>The local council chairman 1 of Kikoni stole 3 million shillings of youth funds</td>
                <td onclick="Location()"><input type="text" value="Latitude: 0.33669119999999997
                            Longitude: 32.6008832" id="locate"></td>
                <td>12-May-2002</td>
                <td>under-investigation</td>
                <td><button>Submit</button> <button onclick="Remove()">Delete</button></td>
            </tr>
            <tr> 
                <td>1</td>
                <td>Kiganda</td>
                <td>red flag</td>
                <td>Local council embezzle youth funds</td>
                <td>The local council chairman 1 of Kikoni stole 3 million shillings of youth funds</td>
                <td onclick="Location()"><input type="text" value="Latitude: 0.33669119999999997
                            Longitude: 32.6008832" id="locate"></td>
                <td>12-May-2002</td>
                <td>under-investigation</td>
                <td><button>Submit</button> <button onclick="Remove()">Delete</button></td>
            </tr>
            <tr> 
                <td>1</td>
                <td>Kiganda</td>
                <td>red flag</td>
                <td>Local council embezzle youth funds</td>
                <td>The local council chairman 1 of Kikoni stole 3 million shillings of youth funds</td>
                <td onclick="Location()"><input type="text" value="Latitude: 0.33669119999999997
                            Longitude: 32.6008832" id="locate"></td>
                <td>12-May-2002</td>
                <td>under-investigation</td>
                <td><button>Submit</button> <button onclick="Remove()">Delete</button></td>
            </tr>
        </table>
        <div class="footer">@kigandaivan-iReport application version 1.0 &copy;copyright 2018</div>
    </div>
    <script src="../static/main.js"></script>
</body>
</html>