
body {
    float: none;
    margin: 0px auto;
    width: 50%;   
    font-family: sans-serif;
}
.container {
    background: whitesmoke;
    text-align: center;
    height:450px;
    display: grid;
    grid-row: 200px 200px;
}
#logo {
    background: url('../images/logo.png');
    background-repeat: no-repeat;
}

header,label {
    color: #000;
    text-align: center;
    font-weight: bolder;
    padding: 8px 5px;
}
input {
    width: 50%;
    padding-bottom: 10px;
}
input#submit {
    background: #056013;
    width: 150px;
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 10%;
    border:none;
}

footer {}

@media screen and (max-width: 320px) {
    body ,html {
        float: none;
        margin: 0px auto;
        width: 320px;   
        font-family: sans-serif;
    }

    input {
        height: 50px;
        width: 70%;
    }
}
/* @media screen and (max-width: 500px){
     
}
@media screen and (max-width: 800px){
    
}
@media screen and (max-width: 1500px){
    
} */